* {
  padding: 0;
  margin: 0;
}

#footer {
  width: 100vw;
  background-color: #3c77e6;
  display: flex;
}

#footer div {
  width: 33vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

#footer img {
  width: 40%;
  margin-bottom: 10px;
}

#footer p {
  font-size: 12px;
  font-style: normal;
  margin: 7px;
}

#footer #section2 {
  padding-top: 60px;
}
#footer #section3 {
  padding-top: 60px;
}

#footer #section3 :nth-child(5) {
  margin-bottom: 30px;
}
#footer #section3 p {
  margin: 15px;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

a:hover {
  color: #002c8b;
}

@media screen and (max-width: 800px) {
  #footer {
    flex-direction: column;
    align-items: center;
  }
  #footer img {
    width: 175px;
  }
  #footer div {
    width: 100%;
  }
  #footer p {
    font-size: 13px;
  }
}