/* Navigation Bar Styles */

@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

* {
  padding: 0;
  margin: 0;
}

#nav-bar {
  width: 100vw;
  /*background-color: #011638;*/
  background-color: transparent;
  display: flex;
  justify-content: space-evenly;
  height: 160px;
  align-items: center;
  position: fixed;
  z-index: 999;
  transition: background-color, 0.5s;
}

#logo {
  height: 125px;
  margin-top: 10px;
  transition: all, 0.5s;
}

button {
  background-color: rgb(0, 0, 0, 0);
  color: #eff0f2;
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  border-width: 0px;
  transition: all, 0.25s;
  padding: 10px;
  border-color: rgb(0, 0, 0, 0);
  border-width: 1px;
  border-radius: 5px;
  border: solid;
  border-color: transparent;
  letter-spacing: 5px;
}
button:hover {
  cursor: pointer;
  border-color: #eff0f2;
}

#menu {
  border-style: solid;
  border-width: 2px;
  transition: all 0.4s;
  border-color: rgb(0, 0, 0, 0);
  border-radius: 5px;
  position: absolute;
  right: 25px;
  height: 40%;
  visibility: hidden;
}

#side-bar {
  right: 0;
  width: 250px;
  background-color: #0b3d8d;
  position: fixed;
  z-index: 100000;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.5s;
  visibility: hidden;
  transform: translate(100%);
  box-shadow: 10px 7px 10px rgb(0, 0, 0, 0.5);
  border-style: solid;
  border-width: 1px;
}

#side-bar button {
  margin: 10px;
}

#close-btn {
  border-style: solid;
  border-width: 2px;
  transition: all 0.4s;
  border-color: rgb(0, 0, 0, 0);
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 15px;
  height: 40px;
}

#close-btn:hover {
  cursor: pointer;
  border-color: #eff0f2;
}

/* Responsive Design */
@media screen and (max-width: 725px) {
  #nav-bar button {
    visibility: hidden;
  }
  #menu {
    visibility: visible;
  }
  #nav-bar {
    justify-content: center;
  }
  #side-bar {
    visibility: visible;
  }
}